* {
    padding:0;
    margin:0;
}

html{
    font:14px normal Arial, sans-serif;
    color:#626771;
    background-color:#fff;
}

body{

}

.home h1 {
    padding-top: 30px;
    text-align: center;
    color: #eee;
    text-shadow: 2px 2px 4px #000000;
}
.signUp h1 {
    padding-top: 30px;
    text-align: center;
    color: #eee;
    text-shadow: 2px 2px 4px #000000;
}
.login h1 {
    padding-top: 30px;
    text-align: center;
    color: #eee;
    text-shadow: 2px 2px 4px #000000;
}

.rentPool h1 {
    padding-top: 30px;
    color: #eee;
    text-shadow: 2px 2px 4px #000000;
}

.booking h3 {
    color: #eee;
    text-shadow: 2px 2px 4px #000000;
}

.listView h1 {
    padding-top: 30px;
    text-align: center;
    color: #eee;
    text-shadow: 2px 2px 4px #000000;
}

.poolImg {
    width: 300px; 
}

.main {
    height: 100%;
    background-image: url('/res/pool1.jpg');
    background-size: cover;   
}

.poolImg {
    width: 300px;
}


.main {
    padding : 2em;
}

.viewPort {
    overflow: hidden;
}

.nav-menu{

    list-style:none;
    display: inline-block;
    background-color:#eee;
    width : 100%;
    padding-left : 40px;
}


.login {
    width: 20%;
    margin-left: 40%;
    margin-top: 7%;
    text-align: center;
}

.listView {
    width: 20%;
    margin-left: 40%;
    margin-top: 4%;
    text-align: center;
}

.listingInput {
    width: 80%;
    height: 35px;
}

.loginInput {
    width: 80%;
    height: 35px;
}


.btn-link{
    display: inline-block;
    padding: 10px 20px;
    cursor:pointer;
    background-color:#eee;
    color:#fff;
    text-decoration: none;
    background-color:#41c7c2;
    border-radius: 10px;
    margin : 6px;
    width: 65%;
    height: 10px;
    transition:0.3s;
}

.btn-link:hover{
    background-color:#beecea;
    color:#7B8585;
}

.nav-link{
    display: inline-block;
    padding: 13px 20px;
    cursor:pointer;
    text-decoration: none;
    background-color:#eee;
    color:#7B8585;

    transition:0.3s;
}

.nav-link:hover{
    background-color:#beecea;
}

.nav-link-focused{
    display: inline-block;
    padding: 13px 20px;
    cursor:pointer;
    background-color:#eee;
    color:#fff;
    background-color:#41c7c2;
}

.listEntry {
    margin : 0px;
    width : 460px;
    background-color: #eee;
    padding: 10px;
    cursor: pointer;
    transition:0.3s;
}

.listEntry:hover {
    background-color: #beecea;
}

#map-canvas {
    height: 80%;
    width: 65%;
    margin: auto auto;
    
}

.noShow {
    visibility: hidden;
}

.showRents {
    width: 100%;
    height: 85%;
    position: relative;
}

.showList {
    padding-top: 2em;
    position: relative;
    width: 30%;
    top: 0;
    float: left;
}

.showDetails{
    padding-left: 4em;
    padding-right: 5em;
    position: relative;
    width: 55%;
    float: left;
}

.currentUser {
    float: right;
    font-size: 17px;
    font-weight: bold;
    margin-right: 8%;
    display: inline-block;
    padding: 11px 20px;
    cursor: pointer;

}

.currentUser:hover {
    background-color: #beecea;
}

.userDetailsContainer {
    float: right;
    position: absolute;
    left: 83.3%;
    height: 100%;
    top: 41px;
    width: 16.7%;
    overflow: hidden;

}

hr {
    margin: 6px;
}

.userDetails {
    position: relative;
    height: 100%;
    text-align: right;
    left:100%;
    background-color: #beecea;
    transition: left 1.3s, width 1.3s;
}

.userDetails.show {
    left: 0%;
    text-align: right;
    visibility: visible;
    overflow-y: scroll;
    background-color: #beecea;
    transition: left 1.3s, width 1.3s;
}


