* {
    padding:0;
    margin:0;
}

html{
    font:14px normal Arial, sans-serif;
    color:#626771;
    background-color:#fff;
}

body{
  font-size: 19px;
   background-image: url('/res/pool1.jpg');
   background-size: cover;   
   background-attachment: fixed;
   padding-bottom: 20px;
}

.home h1 {
    padding-top: 30px;
    text-align: center;
    color: #eee;
    text-shadow: 2px 2px 4px #000000;
}
.signUp h1 {
    padding-top: 30px;
    text-align: center;
    color: #eee;
    text-shadow: 2px 2px 4px #000000;
}
.login h1 {
    padding-top: 30px;
    text-align: center;
    color: #eee;
    text-shadow: 2px 2px 4px #000000;
}

.rentPool h1 {
    padding-top: 30px;
    color: #eee;
    text-shadow: 2px 2px 4px #000000;
}

.booking h3 {
    color: #eee;
    text-shadow: 2px 2px 4px #000000;
}

.review {
  background-color: white;
  padding: 10px;
  margin: 5px;
  margin-top: 10px;
}

.listView h1 {
    width: 100%;
    padding-top: 30px;
    text-align: center;
    color: #eee;
    text-shadow: 2px 2px 4px #000000;
}
.bookingCon {
    background-color: rgba(118, 123, 123, .4);
    color: #fff;
    width: 350px;
    margin-top: 75px;
}

.filter input{
  font-size: 19px;
}

#review textarea, input {
  font-size: 19px;
}

.h4book {
    color: #eee;
    text-shadow: 2px 2px 4px #000000;
}

.button {
  color: white;
  border-style: none;
  border-color: black;
  padding: 10px;
  font-size: 19px;
}

.poolImg {
    width: 300px; 
}

.main {
    height: 100%;
}

.poolImg {
    width: 300px;
}


.main {
    padding : 2em;
}


.viewPort {
    overflow: hidden;
}

.nav-menu{

    list-style:none;
    display: inline-block;
    background-color:#eee;
    width : 100%;
    padding-left : 40px;
    position: fixed;
}


.login {
    width: 20%;
    margin: 0 auto;
    /*margin-top: 7%;*/
    text-align: center;
}

.listView {
    width: 50%;
    margin: 0 auto;
    margin-top: 4%;
    text-align: center;
}

.listingInput {
    width: 80%;
    height: 35px;
}

#userPhotoInput {
  width: 80%;
}

.loginInput {
    width: 80%;
    height: 35px;
}


.btn-link{
    display: inline-block;
    padding: 10px 20px;
    cursor:pointer;
    background-color:#eee;
    color:#fff;
    text-decoration: none;
    background-color:#41c7c2;
    margin : 6px;
    width: 65%;
    height: 10px;
    transition:0.3s;
}

.btn-link:hover{
    background-color:#beecea;
    color:#7B8585;
}

.nav-link{
    display: inline-block;
    padding: 13px 20px;
    cursor:pointer;
    text-decoration: none;
    background-color:#eee;
    color:#7B8585;

    transition:0.3s;
}

.nav-link:hover{
    background-color:#beecea;
}

.nav-link-focused{
    display: inline-block;
    padding: 13px 20px;
    cursor:pointer;
    background-color:#eee;
    color:#fff;
    background-color:#41c7c2;
}

.listEntry {
    margin : 0px;
    width : 460px;
    background-color: #eee;
    padding: 10px;
    cursor: pointer;
    transition:0.3s;
}

.listEntry:hover {
    background-color: #beecea;
}

#map-canvas {
    height: 50%;
    width: 90%;
    margin: auto auto;
    
}

.noShow {
    visibility: hidden;
}

.showRents {
    width: 100%;
    height: 85%;
    position: relative;
}

.showList {
    padding-top: 2em;
    position: relative;
    width: 30%;
    top: 0;
    float: left;
}

.showDetails{
    padding-left: 4em;
    padding-right: 5em;
    position: relative;
    width: 55%;
    float: left;
}

.currentUser {
    float: right;
    font-size: 17px;
    font-weight: bold;
    margin-right: 8%;
    display: inline-block;
    padding: 11px 20px;
    cursor: pointer;

}

.currentUser:hover {
    background-color: #beecea;
}

.userDetailsContainer {
    float: right;
    position: fixed;
    left: 83.3%;
    height: 100%;
    top: 41px;
    width: 16.7%;
    overflow: hidden;

}

hr {
    margin: 6px;
}

.userDetails {
    position: relative;
    height: 100%;
    text-align: right;
    left:100%;
    background-color: #beecea;
    transition: left 1.3s, width 1.3s;
}

.userDetails.show {
    left: 0%;
    text-align: right;
    visibility: visible;
    overflow-y: scroll;
    background-color: #beecea;
    transition: left 1.3s, width 1.3s;
}

.weather {
    width: 90%;
    height: 120px;
    background: rgba(240,240,240,.95);
    font-size: 2em;
    color: #222;
    padding: 0;
    margin: 5% auto 0 auto;
    box-sizing: border-box;
}

.mapWeatherContainer {
    width: 70%;
    background: rgba(20,20,20,0.9);
    padding: 4% 0;
    margin: auto auto;
    border-radius: 10px;
}

.weatherTitle {
    background: #333;
    text-align: center;
    color: #f0f0f0;
    font-size: 0.6em;
    padding: 4px 2px;
}

.weatherInfo {
    padding: 0;
    margin: 0;

}

.weatherInfo div {
    width: 30%;
    height: 87px;
    margin: 0;
    display: inline-block;
    float:left;
}

/////////////////////////////////////
//        Dropdown                 //
////////////////////////////////////

.dropdown-items {
  list-style-type: none;
}

.dropdown-item {
  list-style-type: none;
}


.header {
  height: 35px;
  width: 100%;
  color: white;
  text-align: left;
  background-color: #41c7c2;
  margin: 0 auto;
}
.header .icon-options {
  width: 1.563em;
  height: 1.563em;
  left: auto;
}
.header-inner {
  float: right;
  position: relative;
  top: 0.2em;
  right: 1em;
}
.dropdown-menu {
  width: 340px;
  color: #4D4D4D;
  position: absolute;
  z-index: 99;
  top: 35px;
  /*left: auto;
  right: 0.03em;*/
  background-color: white;
  box-shadow: -2px 2px 15px 2px rgba(0,0,0,0.15);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  transition: all 150ms;
  display: none;
}
.dropdown-header {
  padding: 0.9em 1em;
  overflow: auto;
}
.dropdown-header .icon-options {
  width: 1.563em;
  height: 1.563em;
  top: -0.1em;
  left: 0.5em;
}
.dropdown-toggle {
  float: right;
}

.icon {
  width: 1.250em;
  height: 1.250em;
  position: relative;
  cursor: pointer;
}

.icon svg {
  max-width: 100%;
  max-height: 100%;
}
.dropdown-items .dropdown-item {
  margin: 0 auto;
  text-align: center; 
  padding: 0.9em 1em;
  cursor: pointer;
  opacity: 0;
  -webkit-user-select: none;
  user-select: none;
}
.dropdown-items .dropdown-item:hover {
  background-color: #f2f2f2;
}

.selected {
  background-color: #f2f2f2;
}

.dropdown-item.selected li {
  width: 100%;
  text-align: center; 
}

.main-wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.date {
    background: #aaa;
    font-size: 1.3em;
    color: #f0f0f0;
    text-align: center;
}

.dayName {
    font-size: 0.4em;
    color: #444;
}

.weatherDescription {
    font-size: 0.4em;
    text-align: center;
}

.temp {
    font-size: 2em;
    text-align: center;
}

#dropdown-filter {
  width: 340px;
}
