* {
    padding:0;
    margin:0;
}

html{
    font:14px normal Arial, sans-serif;
    color:#626771;
    background-color:#fff;
}

body{

}

.poolImg {
    width: 300px;
}


.main {
    padding : 2em;
}

.viewPort {
    overflow: hidden;
}

.nav-menu{

    list-style:none;
    display: inline-block;
    background-color:#eee;
    width : 100%;
    padding-left : 40px;
}

.btn-link{
    display: inline-block;
    padding: 13px 20px;
    cursor:pointer;
    background-color:#eee;
    color:#fff;
    text-decoration: none;
    background-color:#41c7c2;
    border-radius: 10px;
    margin : 20px;
    transition:0.3s;
}

.btn-link:hover{
    background-color:#beecea;
    color:#7B8585;
}

.nav-link{
    display: inline-block;
    padding: 13px 20px;
    cursor:pointer;
    text-decoration: none;
    background-color:#eee;
    color:#7B8585;

    transition:0.3s;
}

.nav-link:hover{
    background-color:#beecea;
}

.nav-link-focused{
    display: inline-block;
    padding: 13px 20px;
    cursor:pointer;
    background-color:#eee;
    color:#fff;
    background-color:#41c7c2;
}

.introImgDiv {
    margin-top : 50px;

}

.introImgDiv img {
  width :500px;
  border-radius : 20px;
}


.listEntry {
    margin : 0px;
    width : 460px;
    background-color: #eee;
    padding: 10px;
    cursor: pointer;

    transition:0.3s;
}

.listEntry:hover {
    background-color: #beecea;
}

#map-canvas {
    height: 80%;
    width: 65%;
    margin: auto auto;
}

.noShow {
    visibility: hidden;
}

.showRents {
    width: 100%;
    height: 85%;
    position: relative;
}

.showList {
    padding-top: 2em;
    position: relative;
    width: 30%;
    top: 0;
    float: left;
}

.showDetails{
    padding-left: 4em;
    padding-right: 5em;
    position: relative;
    width: 55%;
    float: left;
}

.currentUser {
    float: right;
    font-size: 17px;
    font-weight: bold;
    margin-right: 8%;
    display: inline-block;
    padding: 11px 20px;
    cursor: pointer;

}

.currentUser:hover {
    background-color: #beecea;
}

.userDetailsContainer {
    float: right;
    position: absolute;
    left: 83.3%;
    height: 100%;
    top: 41px;
    width: 16.7%;
    overflow: hidden;

}

hr {
    margin: 8px;
}

.userDetails {
    position: relative;
    height: 100%;
    text-align: right;
    left:100%;
    background-color: rgba(255, 0, 255, .5);
    transition: left 1.3s, width 1.3s;
}

.userDetails.show {
    left: 0%;
    text-align: right;
    visibility: visible;
    background-color: rgba(255, 0, 255, .5);
    transition: left 1.3s, width 1.3s;
}


